*.pyc
*.iml
.git
.svn
.env
/docs/perspectives.pptx
/docs/query.md
/*.sqlite
/vendor/pyLibrary/vendor/sqlite/*.dll
/vendor/pyLibrary/vendor/sqlite/sqlite3_32.def
/vendor/pyLibrary/vendor/sqlite/sqlite3_64.def
/*.sqlite-journal
